resources/odd/sarit.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="tei-pm.nvdl"
  type="application/xml"
  schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Simple customization</title>
            </titleStmt>
            <publicationStmt>
                <publisher>TEI Consortium</publisher>
                <availability>
                    <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed
                        under a Creative Commons Attribution-ShareAlike 3.0 Unported License </licence>
                    <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
                        <p>Copyright 2014 TEI Consortium.</p>
                        <p>All rights reserved. </p>
                        <p>Redistribution and use in source and binary forms, with or without
                            modification, are permitted provided that the following conditions are
                            met:</p>
                        <list>
                            <item>Redistributions of source code must retain the above copyright
                                notice, this list of conditions and the following disclaimer.</item>
                            <item>Redistributions in binary form must reproduce the above copyright
                                notice, this list of conditions and the following disclaimer in the
                                documentation and/or other materials provided with the
                                distribution.</item>
                        </list>
                        <p>This software is provided by the copyright holders and contributors "as
                            is" and any express or implied warranties, including, but not limited
                            to, the implied warranties of merchantability and fitness for a
                            particular purpose are disclaimed. In no event shall the copyright
                            holder or contributors be liable for any direct, indirect, incidental,
                            special, exemplary, or consequential damages (including, but not limited
                            to, procurement of substitute goods or services; loss of use, data, or
                            profits; or business interruption) however caused and on any theory of
                            liability, whether in contract, strict liability, or tort (including
                            negligence or otherwise) arising in any way out of the use of this
                            software, even if advised of the possibility of such damage.</p>
                    </licence>
                    <p>TEI material can be licensed differently depending on the use you intend to
                        make of it. Hence it is made available under both the CC+BY and BSD-2
                        licences. The CC+BY licence is generally appropriate for usages which treat
                        TEI content as data or documentation. The BSD-2 licence is generally
                        appropriate for usage of TEI content in a software environment. For further
                        information or clarification, please contact the <ref target="mailto:info@tei-c.org">TEI Consortium</ref>. </p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>created ab initio during a meeting in Oxford</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" source="teisimple.odd" ident="sarit"><!--elementSpec mode="change" ident="p">
                    <model behaviour="paragraph" useSourceRendition="true">
                        <outputRendition>text-align: left;</outputRendition>
                    </model>
                </elementSpec-->
                <elementSpec mode="change" ident="add">
                    <model behaviour="note">
                        <param name="place">'margin'</param>
                    </model>
                </elementSpec>
                <elementSpec mode="change" ident="cit">
                    <model behaviour="cit" cssClass="citation"/>
                </elementSpec>
                <elementSpec mode="change" ident="quote">
                    <model predicate="ancestor::p" behaviour="inline">
                        <outputRendition>color: #428bca;</outputRendition>
                    </model>
                    <model behaviour="block" useSourceRendition="true">
                        <desc>If it is inside a paragraph then it is inline, otherwise it is block level</desc>
                        <outputRendition>margin-left: 10em; margin-right: 1em;
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec mode="change" ident="q">
                    <model predicate="@type='lemma'" behaviour="inline">
                        <outputRendition>font-weight: bold;</outputRendition>
                    </model>
                    <model predicate="l" behaviour="block" useSourceRendition="true">
                        <outputRendition>margin-left: 1em; margin-right: 1em;
                        </outputRendition>
                    </model>
                    <model predicate="ancestor::p or ancestor::cell" behaviour="inline" useSourceRendition="true">
                        <outputRendition scope="before">content: '‘';</outputRendition>
                        <outputRendition scope="after">content: '’';</outputRendition>
                    </model>
                    <model behaviour="block" useSourceRendition="true">
                        <outputRendition>margin-left: 1em; margin-right: 1em;
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec mode="change" ident="head">
                    <model predicate="parent::figure" behaviour="block">
                        <outputRendition>font-style: italic;</outputRendition>
                    </model>
                    <model predicate="parent::table" behaviour="block">
                        <outputRendition>font-style: italic;</outputRendition>
                    </model>
                    <model predicate="parent::lg" behaviour="block">
                        <outputRendition>font-style: italic;</outputRendition>
                    </model>
                    <model predicate="parent::list" behaviour="block">
                        <outputRendition>font-weight: bold;</outputRendition>
                    </model>
                    <model output="print" predicate="preceding-sibling::head" behaviour="omit"/>
                    <model output="print" predicate="not(preceding-sibling::head)" behaviour="heading">
                        <param name="content">(node(), for $h in ./following-sibling::head return (" - ", $h/node()))</param>
                    </model>
                    <model predicate="parent::div" behaviour="heading"/>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec mode="change" ident="label">
                    <model predicate="@type='head'" behaviour="heading"/>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec mode="change" ident="l">
                    <model output="print" behaviour="block" useSourceRendition="true">
                        <outputRendition>text-indent: 1em; </outputRendition>
                    </model>
                    <model behaviour="block" useSourceRendition="true">
                        <outputRendition> margin-left: 1em; </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec mode="change" ident="note">
                    <model predicate="@place" behaviour="note">
                        <param name="place">@place</param>
                        <param name="label">@n</param>
                    </model>
                    <model behaviour="note"/>
                </elementSpec>
                <elementSpec mode="change" ident="hi">
                    <model predicate="@rendition" behaviour="inline" useSourceRendition="true">
                        <outputRendition>font-style: italic;</outputRendition>
                    </model>
                    <model predicate="@rend='bold'" behaviour="inline">
                        <outputRendition>font-weight: bold;</outputRendition>
                    </model>
                    <model predicate="@rend='underline'" behaviour="inline">
                        <outputRendition>font-decoration: underline;</outputRendition>
                    </model>
                    <model predicate="@rend='subscript'" behaviour="inline">
                        <outputRendition>vertical-align: sub;</outputRendition>
                    </model>
                    <model predicate="@rend='squarebrackets'" behaviour="inline">
                        <outputRendition scope="before">content: '[';</outputRendition>
                        <outputRendition scope="after">content: ']';</outputRendition>
                    </model>
                    <model predicate="@rend='brackets'" behaviour="inline">
                        <outputRendition scope="before">content: '(';</outputRendition>
                        <outputRendition scope="after">content: ')';</outputRendition>
                    </model>
                    <model predicate="not(@rendition)" behaviour="inline">
                        <outputRendition>font-style: italic;</outputRendition>
                    </model>
                </elementSpec>
                <moduleRef key="tei"/>
                <moduleRef key="header"/>
                <moduleRef key="tagdocs"/>
                <moduleRef key="core"/>
                <moduleRef key="gaiji"/>
                <moduleRef key="namesdates"/>
                <moduleRef key="msdescription"/>
                <moduleRef key="corpus"/>
                <moduleRef key="transcr"/>
                <moduleRef key="analysis"/>
                <moduleRef key="linking"/>
                <moduleRef key="drama"/>
                <moduleRef key="textstructure"/>
                <moduleRef key="figures"/>
                <moduleRef key="verse"/>
            </schemaSpec>
        </body>
    </text>
</TEI>